.product-photo {
  max-width: 100%;
  margin-bottom: 2em;
}

.product-container {
  flex-grow: 1;
  vertical-align: middle;
  align-content: space-between;
}

.container {
  justify-content: center;
}

.paper {
  width: 90%;
  max-width: 800px;
  margin: auto;
}

.title {
  text-align: center;
  height: 50px;
  padding-top: 1em;
}

.percentage-bar {
  border: 1px solid black;
  box-sizing: border-box;
  height: 15px;
  width: 90%;
  margin: auto;
}

.bar {
  background-color: #5b8bbf;
  height: 100%;
  max-width: 100%;
}
